html, body, #app{
  height: 100%;
  margin: 0;
  padding: 0;
}
.top-view {
  position: absolute;
  top: 0;
  left: 0;
}
.main-view{
  position: absolute;
  top: 16%;
  left: 0;
  width: 100%;
  height: 84%;
  background-color: #fff;
  opacity: 0.9;
}
.rgb196 {
  background: rgb(196, 196, 196);
}
.bacColor317eb0 {
  background: #336699;
}
.bacColorf4984e{
  background: #99CCFF;
}